body{
    zoom: 70%;
}
.title{
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #462f2f;
}

.card {
    width: max-content;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(224, 213, 213);
}

.card-content{
    padding: 1rem;
}

#random-img{
    margin: 1rem auto 1rem auto;
    display: block;
    overflow: hidden;
    width: 20rem;
    height: 15rem;
    border-radius: 8px;
}


.title-text{
    text-align: center;
    font-size: 4rem;
}
.name-form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name-form > label {
    margin-bottom: 1rem;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size:x-large;
    text-shadow: 1px 0 #ffffff;
}


.name-form > input{
    height: 1.5rem;
    width: 50%;
    border-radius: 8px;
    padding: 5px;
    border:0;
    box-shadow:0 0 15px 4px rgb(134, 126, 126);
    align-self: center;
}

.name-form > button{
    align-self: center;
    margin: 1rem;
    font-size: larger;
    padding: 0.1rem 2rem;
    font-family: 'Source Serif 4', sans-serif;
    border-radius: 8px;
    cursor: pointer; 
}

.name-form > button:hover{
    background: white;
    color: #000000;
    border: thin solid #e8f0fe;
}


::placeholder {
    font-size: 1rem;
    text-align: center;
  }

.information{
    text-align: center;
    font-family: 'Source Serif 4', sans-serif;
}



.horizontal-line{
    width: 30%;
}

.flag-icon{
    margin: 1rem;
    border-radius: 12px;
}
figcaption{
    align-self: flex-end;
    margin-top: 4.5rem;
    margin-left: -4.4rem;
    margin-right: 1rem;
}

.flag-div{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    body{
        zoom: 100%;
  }

    .card {
    margin: 10rem auto;
  } 

}

